@font-face {
   font-family: 'Poppins';
   // src: url('/public/fonts/poppins/Poppins-Regular.otf');
   // src: url('/public/fonts/PT_root_UI/pt-root-ui_medium.otf');
   src: url('/public/fonts/Inter/Inter\ Regular\ 400.otf');


}

body{
   background-color: #fff;
}

// медиа-запросы
.container{
   margin: 0 auto;
   // width: 430px;
}

.content-container{
   margin: 0 auto;
   width: 410px;

}

p{
   font-family: Poppins;
   color: #000;
}

.title{
   text-transform: capitalize;
}












